@{
  Layout = "_Layout";
}

@model PierresMarket.Models.Flavor

<h4>Add a new Flavor:</h4>
<div class="col">
  <p>@Html.ValidationMessageFor(model => model.FlavorDescription, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.FlavorDescription, new { @class = "form-label"})
    @Html.TextBoxFor(model => model.FlavorDescription, new { @class = "form-control"})
    <br>
    <input type="submit" value="Add new Flavor" class="btn btn-primary btn-sm"/>
  }
  <br>
  <p>@Html.ActionLink("Show all Flavors", "Index")</p>
</div>